<nav class="nav">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}{{ site.baseurl }}/">Blog</a>
        </li>

        <li class="item">
            <a class="link" href="https://irenealegre.com/" target="_blank" rel="noopener">Portfolio</a>
        </li>

        {% if site.about == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}{{ site.baseurl }}/about">About</a>
            </li>
        {% endif %}
    </ul>
</nav>
